table{
width: 500px !important;
margin-top: 60px;
margin-left: 60px;
display: none;
border: 2px solid black !important;
}

.row{
    align-items: center;
}



.dropZone{
    height: 300px;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}